src/BookingProject/FlightBooking/Service References/ServiceCommandes/WSCommandes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="reservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idVol" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idHotel" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="nomUtilisateur" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reservationResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="reservationSoapIn">
    <wsdl:part name="parameters" element="tns:reservation" />
  </wsdl:message>
  <wsdl:message name="reservationSoapOut">
    <wsdl:part name="parameters" element="tns:reservationResponse" />
  </wsdl:message>
  <wsdl:portType name="WSCommandesSoap">
    <wsdl:operation name="reservation">
      <wsdl:input message="tns:reservationSoapIn" />
      <wsdl:output message="tns:reservationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSCommandesSoap" type="tns:WSCommandesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reservation">
      <soap:operation soapAction="http://tempuri.org/reservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSCommandesSoap12" type="tns:WSCommandesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reservation">
      <soap12:operation soapAction="http://tempuri.org/reservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSCommandes">
    <wsdl:port name="WSCommandesSoap" binding="tns:WSCommandesSoap">
      <soap:address location="http://localhost:54933/WSCommandes.asmx" />
    </wsdl:port>
    <wsdl:port name="WSCommandesSoap12" binding="tns:WSCommandesSoap12">
      <soap12:address location="http://localhost:54933/WSCommandes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>